/* Primary Colors */
:root{
  --primarybgcolor:#172e43;
  --primarylinkcolor: #3f76aa;
}

/* Global Style */
a{
  color: var(--primarylinkcolor);
}

main{
  box-shadow: 0 0 15px #172e4375;
}
/* End Global Style */

ul.navbar-nav li.select:hover {
  background: #0000003a;
  color: white;
}

nav.navbar.navbar2 {
  padding: 0px;
  border-top: solid green;
}

ul.navbar-nav li.select{
  display: block;
  padding: 5px 6px 5px 6px;
}

li.active{
  background: green;
}

li.active a{
  color: white !important;
}

.resposive-title {
  font-size: clamp(1.25rem, 0.4688rem + 2.5vw, 1.875rem);
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Small Screen */
@media (max-width:425px) {
  .carousel-item img {
    height: 300px !important;
    object-fit: cover;
    object-position: center;
  }
}

/* Medium Screen Packages */
@media (max-width:768px ) {
  section.popular-packages .card {
    max-width: auto;
  }

}

@media (min-width:767px ) {
  section.popular-packages .card {
    max-width: 340px;
  }

}


@media (max-width: 768px) {
  .carousel-inner,
  .carousel-item {
    max-height: 250px;
  }

  ul.navbar-nav.navbar-right li a.select1:hover {
    background: #0000003a;
    border-bottom: solid rgb(2, 97, 2);
  }

  nav ul.navbar-nav.navbar-right li a {
    padding-left: 15px;
  }

}

@media (min-width: 1024px) {
  .carousel-inner,
  .carousel-item {
    height: 500px;
  }

  .carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

div.d-flex.gap-2.col-12 button.btn.border:hover {
  background-color: green;
  color: white;
}

footer div.col-md-4.my-4 ul.list-group li.list-group-item {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid white;
}

footer div.col-md-4.my-4 ul.list-group li.list-group-item:hover {
  color: green;
  border-bottom: 1px solid rgb(5, 161, 31);
}

a.mybutton:hover{
background-color: green;
color: white;
}


footer.bottom-footer{
    background-color: #172e43;
}


/* Other Minnor CSS */

span.required{
  color:red;
  margin-left: 2px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #172e43;
  --bs-btn-border-color: #172e43;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #21415f;
  --bs-btn-hover-border-color: #21415f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #21415f;
  --bs-btn-active-border-color: #21415f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #21415f;
  --bs-btn-disabled-border-color: #21415f;
}

a {
  text-decoration: none;
}

.primary-bg-color{
  background-color: var(--primarybgcolor);
}

.primary-link-color{
  color: var(--primarylinkcolor);
}

/* Popular Packages */
section.popular-packages img{
  max-height: 300px;
  height: 400px;
  object-fit: cover;
}

/* Testimonials */
section.testimonials img{
  clip-path: circle();
  max-height: 195px;
}

section .stars{
  color: gold;
  font-size: 2rem;
  cursor:default;
}

/* Contact Us  */
section div.quotes img{
  border-radius: 20px;
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}

/* Other Services */
.other-services div.card {
  position: relative;
  overflow: hidden;
}

.other-services div.card img{
display: block;
object-fit: cover;
height: 300px;
}

.other-services div.card p{
opacity: 0;
pointer-events: none;
position: absolute;
bottom:0;
left: 0;
right: 0;
text-align: center;
padding: 0 1rem 1rem 1rem;
margin: 0;
overflow: hidden;
text-overflow: ellipsis;
background-color: rgba(0, 0, 0, 0.6);
color: white;
transform: translateY(0);
transition: opacity 0.3s ease, transform 0.3s ease;
}


.other-services div.card img:hover + div p{

opacity: 1;
transform: translatey(-65px);
}
  